body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#QRCodeRender {
  height: 300px;
}

.btn_google {
  display: flex;
  background-color: rgb(245, 245, 245);
  width: 85%;
  height: 35px;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  justify-content: center;
  align-content: center;
  margin: 15px 0 5px 0;
}

.btn_google > img {
  margin-right: 15px;
}
.btn_google > p {
  margin: auto 0;
  text-transform: uppercase;
  color: teal;
}

.form-container {
  width: 33%;
  padding: 40px;
  padding-top: 10px;
  margin-top: 50px;
}

#form-input {
  width: 100%;
}

#login {
  width: 85%;
  display: flex;
  justify-content: center;
}

.input-field {
  margin: 10px auto;
  width: 100%;
}
